/* GENERAL */

[class^='col'] {
  background-color: green;
  min-height: 50px;
  border: 1px solid;
}

header {
  padding: 20px;
}

main {
  font-family: 'Roboto', sans-serif;
}

/* MAIN */
main .container-fluid {
  background-color: violet;
}

/* Aside */
.aside {
  height: calc(100vh - 102px);
  width: 10%;
  min-width: 30px;
  background-color: blue;
  font-family: 'Poppins', sans-serif;
}

.aside ul,
.aside ul a {
  list-style: none;
  text-decoration: none;
  color: white;
}

.aside ul li {
  margin-bottom: 20px;
  font-size: 1.5em;
}

/* Menu */
.menu {
  height: 120px;
  background-color: aqua;
  padding: 20px;
}

.menu .container-fluid {
  background-color: yellow;
  height: 80px;
}

.ap-container {
  height: calc(100vh - 102px);
  width: 100%;
  overflow: scroll; 
}
/* Content */