/* GENERAL */

[class^='col'] {
  background-color: green;
  min-height: 50px;
  border: 1px solid;
}

header {
  padding: 20px;
}

main {
  font-family: 'Roboto', sans-serif;
}

/* MAIN */
main .container-fluid {
  background-color: violet;
}

/* Aside */
.aside {
  background-image: url(../assets/img/sidebar-bg.png);
  height: calc(100vh - 102px);
  width: 10%;
  min-width: 30px;
  padding: 20px;
  background-color: #051E34;
  font-family: 'Poppins', sans-serif;
}

.aside ul,
.aside ul a {
  list-style: none;
  text-decoration: none;
  color: white;
}

.aside ul li {
  margin-bottom: 20px;
  font-size: 1.3em;
}

.aside .row {
  height: calc(100vh - 200px);
}

/* Menu */
.menu {
  background-color: #1A73E8;
  padding: 20px;
}

.menu h1 {
  font-size: 3em;
  color: white;
  font-weight: bold;
}

.menu p {
  font-size: 1.3em;
  color: white;
}
/* Content */
.ap-container {
  height: calc(100vh - 102px);
  width: 100%;
  overflow: scroll; 
}